mixin bodyAppend(_p)
  if _p != 'top'
    script(src="../common/js/vendor.js")
    script(src="../common/js/scripts.js")
  else
    script(src="common/js/vendor.js")
    script(src="common/js/scripts.js")
